.dashboard-container {
    padding: 20px;
    text-align: center;
    background-color: #50627a;
    color: #fff;
    height: 100vh;
  }
  
  .toggle {
    margin-bottom: 20px;
  }
  
  .toggle button {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 16px;
    border-radius: 1rem;
    border-style: solid;
    border-color: #0d2f51;
  }
  
  .toggle button.active {
    background-color: #0d2f51;
    color: white;
  }
  
  .sponsored-suggestion {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }
  